[submodule "mobile-app/android/third_party/amneziawg-android"]
	path = mobile-app/android/third_party/amneziawg-android
	url = https://github.com/railtamaew/amneziawg-android.git
	branch = grani-patches
